@import "bourbon/bourbon.scss";
@import "neat/neat.scss";

$lt-text:       white;
$drk-text:      black;
$med-text:      gray;
$lg-font:      'Archivo Narrow', sans-serif;
$sm-font:      'Raleway', sans-serif;
$top-margin:   4em;
$border:       3px solid;

.logo{
  @include span-columns(12);
  width:70%;
  img{
    margin-left: 25%;
    padding-top:10%;
  }
}

.navbar{
  @include span-columns(12);
  background-color: black;
  height: 30%;
  li{
    display:inline;
    color:$lt-text;
    padding: 15px;
    float:right;
    font-family: $lg-font;
  }
}

img{
  width:100%;
}

h1, h3{
  font-family: $lg-font;
  text-align: center;
  text-transform: uppercase;
}
h4{
  font-family: $lg-font;
  color: $med-text;
}
p{
  font-family: $sm-font;
}

.header{
  margin:0;
}
.amber{
  p{
    text-align: center;
  }
  img{
    width:50%;
    border: $border;
    margin-left: 190px;
  }
}

.journal{
  @include span-columns(12);
  margin-top: $top-margin;
  .entry{
    @include span-columns(4);
    float:left;
    img{
      border:$border;
    }
  }
}
.event{
  margin:10%;
}
.upcoming{
  @include span-columns(12);
  text-align: center;
  background-color:lighten(black, 10%);
  color:$lt-text;
  margin-top: $top-margin;
}
.inspiration{
  @include span-columns(12);
  margin-top: $top-margin;
  .person{
    @include span-columns(4);
    float:left;
    img{
      border:3px solid;
    }
  }

}
