@import "bourbon/bourbon.scss";
@import "neat/neat.scss";

$lt-text:       white;
$drk-text:      black;

.navbar{
  @include span-columns(12);
  background-color: black;
  height: 30%;
  li{
    display:inline;
    color:$lt-text;
    padding: 15px;
    float:right;
  }
}

img{
  width:100%;
}


h1{
    text-align: center;
}
h2{
  text-align: center;
}
#logo{
  width:50%;
}
